*{
    padding: 0px;
    margin: 0px;
}

/* 消除浮动影响 */
.clear::before,
.clear::after{
    display: table;
    content: "";
}
.clear::after{
    clear: both;
}
.header-nav-warp-box{
    height: 36px;
    background-color: #8c222c;
}
.header-nav-top{
    width: 1200px;
    margin: 0 auto;
}
.header-nav-top-left{
     float: left;
 }
.header-nav-top-left p{
    line-height: 36px;
    font-size: 12px;
    color: #e2c8ca;
}
.header-nav-top-right{
    float: right;
}
.header-nav-top-right-li{
    list-style: none;
    float: left;
    padding-left: 20px;

}
.header-nav-top-right-li a{
    font-size: 12px;
    color: #e2c8ca;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
}
.header-iconfont-color{
    color: white;
    font-size: 12px;
}
.header-nav-warp-box2{
    height: 100px;
    background-color:#f2f1ea;
}
/*logo   搜索栏*/
.header-nav-center{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #f2f1ea;
}
/*logo*/
.header-nav-logo{
    float: left;
    display: table; /*logo垂直居中*/
    height: 100px; /*logo垂直居中*/
}
.header-nav-logo .logo{
    display: table-cell; /*logo垂直居中*/
    vertical-align: middle; /*logo垂直居中*/
}
.header-nav-logo img{
    width: 262px;
}
/*搜索部分*/
.header-nav-search{
    float: right;
    height: 100px;
}
.header-nav-search-center{
    width: 680px;
    height: 40px;
position: relative;
    top: 50%;
    margin-top: -20px;
}
.header-nav-search-center input{
    width: 600px;
    height: 36px;
    outline: none;
    border: 2px solid #8c222c;
    vertical-align: top;
    font-size: 12px;
    color: #999;
}
.header-nav-search-center button{
    width: 76px;
    height: 40px;
    background-color: #8c222c;
    border: none;
    vertical-align: top;
    font-size: 16px;
    color: white;
}