*{
  margin: 0;
  padding: 0;
}

.main-help{
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  background: #E45547;

}
.main-word{
  width: 300px;
  height: 60px;
  margin-left: 10px;
  float: left;
}

.main-word span:first-child{
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.main-word span:last-child{
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  font-style:italic;
}
.main-ser {
  position: relative;
  width: 870px;
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  float: left;
}
.main-ser span:first-child{
  color: #fff;
  font-weight:bold;
  font-size:20px;

}
.main-ser input{
  height: 40px;
  width: 400px;
  vertical-align: middle;
}
.main-ser button{
  position: absolute;
  margin-top: 12px;
  margin-left: 10px;
  border-radius: 10%;
  height:40px;
  width:80px;
  color: #000;
  background: #F9F8F8;
  font-weight: bold;
  font-size: 20px;
}
.main-ser ul{
  width:150px;
  height: 50px;
  list-style: none;
  color: #fff;
  float:right;
  margin-right:130px;;
}
.main-ser ul li{
  display: inline-block;
}